
body {
    font-family: "Signika", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #062d3f;
    font-weight: 300;
}

.bg-header-page {
    background-color: #219f95;
    color: #FFF;
}

.app-header-fixed {
    padding-top: 56px;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
}

.font-thin {
    font-weight: 300;
}

.app-content {
    background: #f6f8f7;
}

.panel-default {
    background: #ffffff;
    border-color: #eaeaea;
    border-radius: 6px;
    border-width: 2px;
}

.panel-default > .panel-heading {
    border-color: #eaeaea;
}

.panel-default > .panel-heading {
    background-color: #f5f6f8;
    border-width: 2px;
}

.panel-default > .panel-footer {
    background-color: #f8f8f8;
}

ul.liste-timeline-course-session > li {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 8%;
    border-left: 2px solid #d6d9df;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}

ul.liste-timeline-course-session {
    padding: 0;
    margin: 50px auto;
    max-width: 450px;
}

ul.liste-timeline-course-session > li .panel {
    margin-bottom: 40px;
    margin-top: -45px;
}

ul.liste-timeline-course-session > li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 5px solid #219f95;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 0;
    background-color: #F6F8F7;
}

ul.liste-timeline-course-session > li:last-child {
    margin-bottom: 0;
    padding-bottom: 0px;
    border-left-color: transparent;
}







.circle-time {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    background: #f5f6f8;
    line-height: 76px;
    border: 2px solid #e4e6eb;
    border-radius: 50%;
    font-size: 18px;
    position: relative;
    vertical-align: top;
}
.circle-time .fa {
    position: absolute;
    left: -1px;
    top: -2px;
    background: #F5F6F8;
    border: 2px solid #E7E9ED;
    font-size: 15px;
    padding: 4px;
    border-radius: 50%;
    color: #ccd0d8;
    line-height: 12px;
}



span.circle-difference-time {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    position: relative;
    padding: 0 15px;
}

span.circle-difference-time > i {
    font-style: normal;
    color: #989899;
    display: inline-block;
    background: #FFF;
    position: relative;
    z-index: 2;
    padding: 0 4px;
}

span.circle-difference-time:after {
    display: inline-block;
    content: "";
    width: 100%;
    border-top: 1px dashed #e4e6eb;
    position: absolute;
    left: 0;
    top: 50%;
}

span.circle-difference-time > * {
    display: inline-block;
    line-height: normal;
}




.btn {
    border-radius: 5px;
    border-width: 4px;
}
.btn-primary {
    background-color: #78bd29;
    border-color: #78bd29;
    border-bottom-color: #6caa25;
}

.btn > .fa {
    margin-right: 8px;
}



.footer-btns-timeline > .btn {
    width: 48.5%;
    margin: 0 0.5%;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #6caa25;
    border-color: #6caa25;
}


.btn-danger {
    background-color: #f45655;
    border-color: #f45655;
    border-bottom-color: #db4d4c;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #db4d4c;
    border-color: #db4d4c;
}



.liste-timeline-course-session .panel-default > .panel-heading:before {content: "";display: inline-block;position: absolute;width: 14px;height: 14px;background: #f5f6f8;border: 2px solid #eaeaea;-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);border-right-color: #F5F6F8;border-top-color: #F5F6F8;left: -7px;top: 22px;}

.liste-timeline-course-session .panel-default > .panel-heading {
    position: relative;
}





